{%- block form_row -%}
    <div class="{{ name }} row">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}

{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- set attrClass = "" -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
        	{%- if attrname == 'class' -%}
                {%- set attrClass = ' ' ~ attrvalue -%}
            {%- else -%}
            	{{- attrname }}="{{ attrvalue }}"
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    class="value{{ attrClass }}" 
{%- endblock widget_attributes -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
        {%- set row_classes = 'elemento' -%}
        {%- set row_tooltip = '' -%}
    	{%- for attrname, attrvalue in child.vars.attr -%}
            {%- if attrname == 'data-tooltip' -%}
    			{%- set row_classes = row_classes ~ ' tooltip' -%}
    			{%- set row_tooltip = attrvalue -%}
    		{%- endif -%}
	    {%- endfor -%}
	    <div class="{{ row_classes }}">
        {{- form_widget(child) -}}
        {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
        {{- block('field_tooltip') -}}
        </div>
    {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{% block field_tooltip %}
    {%- if row_tooltip != '' -%}
		<span class="tooltiptext">{{ row_tooltip }}</span>
	{%- endif -%}
{% endblock %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <div class="error_container">
        {%- for error in errors -%}
            <label class="error">{{ error.message }}</label>
        {%- endfor -%}
    </div>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
    {%- endif -%}
    {% if tooltip is defined -%}
    	<span class="tooltiptext">{{ tooltip }}</span>
    {%- endif -%}
{%- endblock form_label -%}

{# Actor #}
{% block _centroeducativo_direccion_row %}
	<div class="direccion container_row row">
	    {{ form_label(form) }}
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _junta_direccion_row %}
	<div class="direccion container_row row">
	    {{ form_label(form) }}
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _vulneradodireccion_vulnerado_row %}
	<div class="vulnerado container_row row">
	    {{ form_label(form) }}
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _vulneradodireccion_direccion_row %}
	<div class="direccion elementos_direccion container_row row">
	    {{ form_label(form) }}
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _actordireccion_actor_row %}
	<div class="actor container_row row">
	    {{ form_label(form) }}
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _actordireccion_direccion_row %}
	<div class="direccion elementos_direccion container_row row">
	    {{ form_label(form) }}
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _actordireccion_direccionTrabajo_row %}
	<div class="direccion_trabajo elementos_direccion container_row row">
	    {{ form_label(form) }}
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _actor_actividadEconomica_row %}
	<div class="actividad_economica row">
	    {{ form_label(form) }}
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _actordireccion_actor_actividadEconomica_row %}
	<div class="actividad_economica row">
	    {{ form_label(form) }}
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _denuncia_actoresDireccion_row %}
	<div class="actoresDireccion row">
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _denuncia_actoresDireccion_entry_row %}
	<div class="actor_direccion row">
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _denuncia_actoresDireccion_entry_actor_row %}
	<div class="actor container_row row">
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _denuncia_actoresDireccion_entry_actor_actividadEconomica_row %}
	<div class="actividad_economica row">
	    {{ form_label(form) }}
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _denuncia_actoresDireccion_entry_direccion_row %}
	<div class="direccion container_row row">
	    {{ form_label(form) }}
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _denuncia_actoresDireccion_entry_direccionTrabajo_row %}
	<div class="direccion_trabajo direccion container_row row">
	    {{ form_label(form) }}
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _denuncia_vulneradosDireccion_row %}
	<div class="vulneradosDireccion row">
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _denuncia_vulneradosDireccion_entry_row %}
	<div class="vulnerado_direccion row">
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _denuncia_vulneradosDireccion_entry_vulnerado_row %}
	<div class="vulnerado row container_row">
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}

{% block _denuncia_vulneradosDireccion_entry_direccion_row %}
	<div class="direccion row container_row">
	    {{ form_label(form) }}
	    {{ form_errors(form) }}
	    {{ form_widget(form) }}
	</div>
{% endblock %}