{% extends 'entidadBase/mostrarEntidad.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %} 
    {% block form %}
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
    	{% if csrf_token %}
        	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        {{ form_row(form._username) }}
        {{ form_row(form._password) }}
        {{ form_row(form._junta) }}
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    {% endblock %}



