<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/glyphicons.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}" />
        {% endblock %}
        {% block javascripts %}
        	<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        	<script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
        	<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
        	<script type="text/javascript" src="{{ asset('js/messages_es.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/selects.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
       <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div>
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} | 
                    <a href="/profile">
                        Ver perfil
                    </a>
                </div>
                <div>
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </div>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
    		{{ knp_menu_render('superAdmin')}}
    	{% elseif is_granted('ROLE_SECRETARIO') %}
    		{{ knp_menu_render('secretario')}}
    	{% elseif is_granted('ROLE_MIEMBRO_DE_JUNTA') %}
    		{{ knp_menu_render('miembroDeJunta')}}
    	{% elseif is_granted('ROLE_PSICOLOGO') %}
    		{{ knp_menu_render('psicologo')}}
    	{% elseif is_granted('ROLE_ADMIN_JUNTA') %}
    		{{ knp_menu_render('adminDeJunta')}}
        {% else %}
    		{{ knp_menu_render('login')}}
        {% endif %}
        
    	<div class="contenido">{% block body %}{% endblock %}</div>
    </body>
</html>
