<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/base.css') }}" />
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    		<p>Username: {{ app.user.username }}</p>
        {% endif %}
    	{{ knp_menu_render('main')}}
    	<div class="contenido">{% block body %}{% endblock %}</div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
