{% extends 'entidadBase/mostrarEntidad.html.twig' %}

{% block form %}

    {{ form_row(form.fechaRegistro, t_options) }}
    {{ form_row(form.hechos, t_options) }}
    {{ form_row(form.derechos, t_options) }}
    {{ form_row(form.junta, t_options) }}
    {{ form_row(form.vulneradosDomicilio, t_options) }}
    {{ form_row(form.personasDomicilio, t_options) }}
	
	<script>

jQuery(document).ready(function() {
	// setup an "add a tag" link
	var $addVulneradoLink = $('<a href="#" class="add_element_link add_vulnerado">Agregar Vulnerado</a>');
	var $collectionHolder = $('#appbundle_denuncia_vulneradosDomicilio');
	
	addLinkToForm($collectionHolder, $addVulneradoLink, $startIndex, 1);
	
});

function addLinkToForm($elementHolder, $addElementLink, $startIndex) {
	var $newLink = $('<div class="row add_link"></div>').append($addElementLink);
	
	// Get the ul that holds the collection of tags


	// add the "add a tag" anchor and li to the tags ul
	$elementHolder.append($newLink);

	// count the current form inputs we have (e.g. 2), use that as the new
	// index when inserting a new item (e.g. 2)
	$elementHolder.data('index', startIndex);

	$addElementLink.on('click', function(e) {
		
	// prevent the link from creating a "#" on the URL
	e.preventDefault();

	// add a new tag form
        addNewElementToForm($elementHolder, $newLink);
    });
}
	
	function addNewElementToForm($collectionHolder, $newLink) {
	    // Get the data-prototype explained earlier
	    var prototype = $collectionHolder.data('prototype');

	    // get the new index
	    var index = $collectionHolder.data('index');

	    // Replace '__name__' in the prototype's HTML to
	    // instead be a number based on how many items we have
	    var newForm = prototype.replace(/__name__label__/g, index);
	    newForm = newForm.replace(/__name__/g, index);

	    // increase the index with one for the next item
	    $collectionHolder.data('index', index + 1);

	    // Display the form in the page in an li, before the "Add a tag" link li
	    $newLink.before(newForm);
	}
	</script>
	
{% endblock %}