{% extends 'entidadBase/mostrarEntidad.html.twig' %}

{% block form %}
	<div id="tabs_denuncia">
		<ul id="list_tabs_denuncia">
			<li><a href="#atributos_denuncia">Denuncia</a></li>
			<li><a id="addVulnerado" href="#vulnerados">+ Vulnerado</a></li>
			<li><a id="addDenunciado" href="#denunciados">+ Denunciado</a></li>
			<li><a id="addDenunciante" href="#denunciantes">+ Denunciante</a></li>
		</ul>
    	<div id="atributos_denuncia">
        {{ form_row(form.creacion, t_options) }}
        {{ form_row(form.hechos, t_options) }}
        {{ form_row(form.recursoImpugnacion, t_options) }}
        {{ form_row(form.tipoMaltrato, t_options) }}
        {{ form_row(form.ambitoMaltrato, t_options) }}
        {{ form_row(form.vulneradoresDerechos, t_options) }}
        {{ form_row(form.derechos, t_options) }}
        {{ form_row(form.junta, t_options) }}
        </div>
        <div id="vulnerados"></div>
        <div id="denunciados"></div>
        <div id="denunciantes"></div>
        {{ form_row(form.vulneradosDireccion, t_options) }}
        {{ form_row(form.actoresDireccion, t_options) }}
    </div>
	
<script type="text/javascript">

jQuery(document).ready(function() {

	//tabs denuncia
	var tabs_denuncia = $("#tabs_denuncia").tabs();

	//tabs vulnerados
	$('#denuncia_vulneradosDireccion').children().each(function() {
		addToTabs(this, 'vulnerado');
	});	
	
	//tabs actor
	$('#denuncia_actoresDireccion').children().each(function() {
		addToTabs(this, 'actor');
	});
	
    var $provincia_canton = JSON.parse('{{ form.children.vulneradosDireccion.children.0.children.direccion.vars.provincia_canton|raw }}');
    var $canton_parroquia = JSON.parse('{{ form.children.vulneradosDireccion.children.0.children.direccion.vars.canton_parroquia|raw }}');
    $.each($('.elementos_direccion'), function (key, value) {
        bindSelects($(value).find('select.select_direccion_provincia').first(), $(value).find('select.select_direccion_canton').first(), $provincia_canton, 'codigo');
        bindSelects($(value).find('select.select_direccion_canton').first(), $(value).find('select.select_direccion_parroquia').first(), $canton_parroquia, 'codigo');
    });
    $.each($('.actores_direccion .actor_direccion_row'), function (key, value) {
    	actorSelect($(value));
    });

	// setup an "add a tag" link
	var $vulneradoHolder = $('#denuncia_vulneradosDireccion');
	addIndexToHolder($vulneradoHolder);
	$('#addVulnerado').on('click', function(e) {
		e.preventDefault();
		$newElement = addNewElementToForm($vulneradoHolder);
		addToTabs($newElement, 'vulnerado');
    });
	

	
	//Add remove link to vulnerados and denunciantes/denunciados
	$('#denuncia_vulneradosDireccion div.vulnerados_direccion_row').each(function(){
		//addRemoveLink($(this));
	});
	$('#denuncia_actoresDireccion div.actores_direccion_row').each(function(){
		//addRemoveLink($(this));
	});
	
	addIndexToHolder($vulneradoHolder);
	//addDenunciadoDenuncianteLinkToForm();

	var index = $vulneradoHolder.data('index');
	
});

function addToTabs($elementHolder, $option) {
	if($option == 'vulnerado') {
		var nbrLiElem = ($('ul#list_tabs_denuncia li .tab_vulnerado').length);
		$li = $('<li><a class="tab_vulnerado" href="#vulnerado_direccion_id_' + nbrLiElem + '">Vulnerado ' + (nbrLiElem + 1) + '</a>');
		$('ul#list_tabs_denuncia li:last-child').after($li);
		$("#tabs_denuncia").tabs( "refresh" );
	} else if ($option == 'actor') {
		var nbrLiElem = ($('ul#list_tabs_denuncia li .tab_actor').length);
		$li = $('<li><a class="tab_actor" href="#actor_direccion_id_' + nbrLiElem + '">Actor ' + (nbrLiElem + 1) + '</a>');
		$('ul#list_tabs_denuncia li:last-child').after($li);
		$("#tabs_denuncia").tabs( "refresh" );
	}
}

function addIndexToHolder($elementHolder) {
	var $startIndex = $elementHolder.children().length;
	$elementHolder.data('index', $startIndex);
}
	
function addNewElementToForm($collectionHolder) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');
    // get the new index
    var index = $collectionHolder.data('index');

	// Replace '__name__' in the prototype's HTML to
	// instead be a number based on how many items we have
	var newForm = prototype.replace(/__name__label__/g, index);
	newForm = newForm.replace(/__name__/g, index);

	// increase the index with one for the next item
	$collectionHolder.data('index', index + 1);

	$element = $(newForm);
	$collectionHolder.append($element);
	return $element;
}

function addRemoveLink($elementHolder) {
	var $removeLink = $('<a href="#" class="remove_element_link">Quitar</a>');
	var $removeLinkHolder = $('<div class="remove_link"></div>').append($removeLink);
	$elementHolder.prepend($removeLinkHolder);
	$removeLink.on('click', function(e) {
		e.preventDefault();
		$elementHolder.remove();
    });
}

function addDenunciadoDenuncianteLinkToForm() {
	var $elementsHolder = $('#denuncia_actoresDireccion');
	var $denuncianteLastElement = $('#denuncia_actoresDireccion :input.rol_actor[value="DENUNCIANTE"]').last().closest('div.actores_direccion_row');

	var $addDenuncianteLink = $('<a href="#" class="add_element_link add_denunciante">Agregar Denunciante</a>');
	var $addDenunciadoLink = $('<a href="#" class="add_element_link add_denunciado">Agregar Denunciado</a>');
	
	var $newDenuncianteLink = $('<div class="row add_link"></div>').append($addDenuncianteLink);
	var $newDenunciadoLink = $('<div class="row add_link"></div>').append($addDenunciadoLink);

	var $startIndex = $elementsHolder.children().length;

	if($denuncianteLastElement.length == 0) {
		$elementsHolder.append($newDenuncianteLink);
	} else {
		$denuncianteLastElement.after($newDenuncianteLink);
	}
	
	$elementsHolder.append($newDenunciadoLink);

	// count the current form inputs we have (e.g. 2), use that as the new
	// index when inserting a new item (e.g. 2)
	$elementsHolder.data('index', $startIndex);

	$addDenuncianteLink.on('click', function(e) {

		// prevent the link from creating a "#" on the URL
		e.preventDefault();

		// add a new tag form
		addNewDenunElementToForm($elementsHolder, $newDenuncianteLink, 'DENUNCIANTE');
	});

	$addDenunciadoLink.on('click', function(e) {

		// prevent the link from creating a "#" on the URL
		e.preventDefault();

		// add a new tag form
		addNewDenunElementToForm($elementsHolder, $newDenunciadoLink, 'DENUNCIADO');
	});
}


function addNewDenunElementToForm($collectionHolder, $newLink, $value) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');
    // get the new index
    var index = $collectionHolder.data('index');

	// Replace '__name__' in the prototype's HTML to
	// instead be a number based on how many items we have
	var newForm = prototype.replace(/__name__label__/g, index);
	newForm = newForm.replace(/__name__/g, index);

	// increase the index with one for the next item
	$collectionHolder.data('index', index + 1);

	// Display the form in the page in an li, before the "Add a tag" link li
	var $element = $(newForm)
	$element.find('.rol_actor').val($value);
	addRemoveLink($element);
	$newLink.before($element);
}
</script>
	
{% endblock %}