{% extends 'denuncia/denunciajs.html.twig' %}

{% block denunciaform %}
	<div id="tabs_denuncia" class="denuncia">
		<ul id="list_tabs_denuncia">
			<li><a href="#atributos_denuncia">Denuncia</a></li>
			<li><a id="addVulnerado" onclick="addVulnerado(event); $(this).blur();" href="#vulnerados"><span class="glyphicon glyphicon-plus-sign"></span></a></li>
			<li><a id="addDenunciante" onclick="addActor(event, 'Denunciante'); $(this).blur();" href="#denunciantes"><span class="glyphicon glyphicon-plus-sign"></a></li>
			<li><a id="addDenunciado" onclick="addActor(event, 'Denunciado'); $(this).blur();" href="#denunciados"><span class="glyphicon glyphicon-plus-sign"></a></li>
		</ul>
    	<div id="atributos_denuncia">
        {{ form_row(form.creacion, t_options) }}
        {{ form_row(form.hechos, t_options) }}
        {{ form_row(form.recursoImpugnacion, t_options) }}
        {{ form_row(form.tipoMaltrato, t_options) }}
        {{ form_row(form.ambitoMaltrato, t_options) }}
        {{ form_row(form.vulneradoresDerechos, t_options) }}
        {{ form_row(form.derechos, t_options) }}
        {{ form_row(form.junta, t_options) }}
        </div>
        {{ form_row(form.vulneradosDireccion, t_options) }}
        {{ form_row(form.actoresDireccion, t_options) }}
        <div id="vulnerados"></div>
        <div id="denunciados"></div>
        <div id="denunciantes"></div>
    </div>	
{% endblock %}