{% extends 'entidadBase/mostrarEntidad.html.twig' %}

{% block form %}
	<div id="tabs_denuncia">
		<ul>
			<li><a href="#atributos_denuncia">Denuncia</a></li>
			<li><a href="#vulnerados_denuncia">Vulnerados</a></li>
			<li><a href="#actores_denuncia">Denunciantes/Denunciados</a></li>
		</ul>
    	<div id="atributos_denuncia">
        {{ form_row(form.creacion, t_options) }}
        {{ form_row(form.hechos, t_options) }}
        {{ form_row(form.recursoImpugnacion, t_options) }}
        {{ form_row(form.tipoMaltrato, t_options) }}
        {{ form_row(form.ambitoMaltrato, t_options) }}
        {{ form_row(form.vulneradoresDerechos, t_options) }}
        {{ form_row(form.derechos, t_options) }}
        {{ form_row(form.junta, t_options) }}
        </div>
        <div id="vulnerados_denuncia">
        {{ form_row(form.vulneradosDireccion, t_options) }}
        </div>
        <div id="actores_denuncia">
        {{ form_row(form.actoresDireccion, t_options) }}
    	</div>
    </div>
	
<script type="text/javascript">

jQuery(document).ready(function() {

	//tabs denuncia
	$("#tabs_denuncia").tabs();
	
    var $provincia_canton = JSON.parse('{{ form.children.vulneradosDireccion.children.0.children.direccion.vars.provincia_canton|raw }}');
    var $canton_parroquia = JSON.parse('{{ form.children.vulneradosDireccion.children.0.children.direccion.vars.canton_parroquia|raw }}');
    $.each($('.elementos_direccion .row'), function (key, value) {
        bindSelects($(value).find('select.select_direccion_provincia').first(), $(value).find('select.select_direccion_canton').first(), $provincia_canton, 'codigo');
        bindSelects($(value).find('select.select_direccion_canton').first(), $(value).find('select.select_direccion_parroquia').first(), $canton_parroquia, 'codigo');
    });
    $.each($('.actores_direccion .actor_direccion_row'), function (key, value) {
    	actorSelect($(value));
    });

	
	// setup an "add a tag" link
	var $addVulneradoLink = $('<a href="#" class="add_element_link add_vulnerado">Agregar Vulnerado</a>');
	var $vulneradoHolder = $('#bloque_denuncia_vulneradosDireccion');
	
	//Add remove link to vulnerados and denunciantes/denunciados
	$('#bloque_denuncia_vulneradosDireccion div.vulnerados_direccion_row').each(function(){
		addRemoveLink($(this));
	});
	$('#bloque_denuncia_actoresDireccion div.actores_direccion_row').each(function(){
		addRemoveLink($(this));
	});
	
	addLinkToForm($vulneradoHolder, $addVulneradoLink);
	addDenunciadoDenuncianteLinkToForm();
	
});

function addRemoveLink($elementHolder) {
	var $removeLink = $('<a href="#" class="remove_element_link">Quitar</a>');
	var $removeLinkHolder = $('<div class="remove_link"></div>').append($removeLink);
	$elementHolder.prepend($removeLinkHolder);
	$removeLink.on('click', function(e) {
		e.preventDefault();
		$elementHolder.remove();
    });
}

function addLinkToForm($elementHolder, $addElementLink) {
	var $newLink = $('<div class="row add_link"></div>').append($addElementLink);
	var $startIndex = $elementHolder.children().length;

	// add the "add a tag" anchor and li to the tags ul
	$elementHolder.append($newLink);

	// count the current form inputs we have (e.g. 2), use that as the new
	// index when inserting a new item (e.g. 2)
	$elementHolder.data('index', $startIndex);

	$addElementLink.on('click', function(e) {
		// prevent the link from creating a "#" on the URL
		e.preventDefault();

		// add a new tag form
        addNewElementToForm($elementHolder, $newLink);
    });
}
	
function addNewElementToForm($collectionHolder, $newLink) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');
    // get the new index
    var index = $collectionHolder.data('index');

	// Replace '__name__' in the prototype's HTML to
	// instead be a number based on how many items we have
	var newForm = prototype.replace(/__name__label__/g, index);
	newForm = newForm.replace(/__name__/g, index);

	// increase the index with one for the next item
	$collectionHolder.data('index', index + 1);

	$element = $(newForm);
	addRemoveLink($element);
	// Display the form in the page in an li, before the "Add a tag" link li
	$newLink.before($element);
}

function addDenunciadoDenuncianteLinkToForm() {
	var $elementsHolder = $('#bloque_denuncia_actoresDireccion');
	var $denuncianteLastElement = $('#bloque_denuncia_actoresDireccion :input.rol_actor[value="DENUNCIANTE"]').last().closest('div.actores_direccion_row');

	var $addDenuncianteLink = $('<a href="#" class="add_element_link add_denunciante">Agregar Denunciante</a>');
	var $addDenunciadoLink = $('<a href="#" class="add_element_link add_denunciado">Agregar Denunciado</a>');
	
	var $newDenuncianteLink = $('<div class="row add_link"></div>').append($addDenuncianteLink);
	var $newDenunciadoLink = $('<div class="row add_link"></div>').append($addDenunciadoLink);

	var $startIndex = $elementsHolder.children().length;

	if($denuncianteLastElement.length == 0) {
		$elementsHolder.append($newDenuncianteLink);
	} else {
		$denuncianteLastElement.after($newDenuncianteLink);
	}
	
	$elementsHolder.append($newDenunciadoLink);

	// count the current form inputs we have (e.g. 2), use that as the new
	// index when inserting a new item (e.g. 2)
	$elementsHolder.data('index', $startIndex);

	$addDenuncianteLink.on('click', function(e) {

		// prevent the link from creating a "#" on the URL
		e.preventDefault();

		// add a new tag form
		addNewDenunElementToForm($elementsHolder, $newDenuncianteLink, 'DENUNCIANTE');
	});

	$addDenunciadoLink.on('click', function(e) {

		// prevent the link from creating a "#" on the URL
		e.preventDefault();

		// add a new tag form
		addNewDenunElementToForm($elementsHolder, $newDenunciadoLink, 'DENUNCIADO');
	});
}


function addNewDenunElementToForm($collectionHolder, $newLink, $value) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');
    // get the new index
    var index = $collectionHolder.data('index');

	// Replace '__name__' in the prototype's HTML to
	// instead be a number based on how many items we have
	var newForm = prototype.replace(/__name__label__/g, index);
	newForm = newForm.replace(/__name__/g, index);

	// increase the index with one for the next item
	$collectionHolder.data('index', index + 1);

	// Display the form in the page in an li, before the "Add a tag" link li
	var $element = $(newForm)
	$element.find('.rol_actor').val($value);
	addRemoveLink($element);
	$newLink.before($element);
}
</script>
	
{% endblock %}