{% extends 'base.html.twig' %}

{% block body %}
{% if mensaje is defined %}
<div>
	{{ mensaje }}
</div>
{% endif %}
	<div class="table">
		<div class="row header">
    			{% for cabecera in cabeceras %}
    			<div class="cell">
    			{{ cabecera }}
				</div>
    			{% endfor %}
    			<div class="cell">
				</div>
    			<div class="cell">
    			Operaciones
				</div>
				<div class="cell">
				</div>
		</div>

		{% for entidad in entidades %}
		<div class="row">
			{% for detalle in entidad.mostrarDetalles %}
			<div class="cell">{{ detalle }}</div>
			{% endfor %}
			<div class="cell"><a href="/{{ nombreEntidad }}/modificar?id={{ entidad.id }}">Modificar</a>
			</div>
			<div class="cell"><a href="{{ path(ruta_mostrar, {'nombreEntidad':nombreEntidad, 'id': entidad.id}) }}">Mostrar</a>
			</div>
			<div class="cell"><a href="{{ path(ruta_eliminar, {'nombreEntidad':nombreEntidad, 'id': entidad.id}) }}">Eliminar</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<a href="/{{ nombreEntidad }}/crear">Agregar</a>
	{% set ruta = ruta_prueba ~ nombreEntidad %}
	<a href="{{ path(ruta) }}">Agregar prueba</a>
	{% endblock %}