{% extends 'base.html.twig' %}

{% block body %}
{% if mensaje is defined %}
<div>
	{{ mensaje }}
</div>
{% endif %}
<div>
	<table>
		<tr>
			{% for cabecera in entidades[0].mostrarCabeceras %}
			<th>{{ cabecera }}</th>
			{% endfor %}
		</tr>

		{% for entidad in entidades %}
		<tr>
			{% for detalle in entidad.mostrarDetalles %}
			<td>{{ detalle }}</td>
			{% endfor %}
			<td><a href="{{ path(ruta_modificar, {'nombreEntidad':nombreEntidad, 'id': entidad.id}) }}">Modificar</a>
			</td>
			<td><a href="{{ path(ruta_mostrar, {'nombreEntidad':nombreEntidad, 'id': entidad.id}) }}">Mostrar</a>
			</td>
			<td><a href="{{ path(ruta_eliminar, {'nombreEntidad':nombreEntidad, 'id': entidad.id}) }}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	<a href="{{ path(ruta_modificar, {'nombreEntidad':nombreEntidad}) }}">Agregar</a>
	{% set ruta = ruta_prueba ~ nombreEntidad %}
	<a href="{{ path(ruta) }}">Agregar prueba</a>
	{% endblock %}