{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form) }}
    {{ form_row(form.nombres) }}
    {{ form_row(form.fechaNacimiento) }}
    {{ form_row(form.cedula) }}
    {{ form_row(form.telefono) }}
    {{ form_row(form.email) }}
    {{ form_row(form.nacionalidad) }}

{% if operacion is defined and operacion==constant('AppBundle\\ConstantesDeOperaciones::CREAR') %}
<div>
	<button type="submit">Guardar!</button>
</div>
{% endif %}
    
{{ form_end(form) }}

{% endblock %}